script(type="text/javascript", src="/linker/js/plugins/jquery.js")
script(type="text/javascript", src="/linker/js/plugins/jquery.cookie.js")
script(type="text/javascript", src="/linker/js/plugins/react-with-addons.min.js")




script(type="text/javascript", src="/linker/js/actions/main.js")
script(type="text/javascript", src="/linker/js/actions/"+W.request.action+".js")